





//color
$color_red:#ff4f69;
$color-black:#000;
$background_basic:#e2e2e2;
$background-img-color:#191919;
$background_info_swiper:#f4f7f9;
$span_smallSize-color:#191919;
$span-middleSize-3-color:#3a3a3a;
$para-middleSize-color:#2d4044;
$color-gray:rgb(129 127 127 / 50%);
$background-white:white;
$background-nearFromBlue:#212330;
$background-footer:#e6ecf5;
$background-black:#1f2024;
$background-border:rgba(255,255,255,.1);
$background-menu:#e8ecf2;
$background-sideBar:#f9fbff;
$color-popular-post:#35485e;
$color-444: #b1b3b5;
$color-3a3a3a:#3a3a3a;
$color-002044:#002044;
$color-dce2ea:#dce2ea;
$color-ff7760: #ff7760;
$color-313131:#313131;
$color-ffce2d:#ffce2d;
$color-99b154:#99b154;
$color-888:#888;
$color-2d4044:#2d4044;
$color-444:#444;
$color-e7ecf5:#e7ecf5;
$color-071e30:#071e30;
$color-6b7391:#6b7391;
$color-000:#000;
$color-ff4f69:#ff4f69;

$title_bigSize-40:40px;
$span_smallSize:11px;
$span-smallSize-2:13px;
$title_BigSize:45px;
$title_fontSize-50:50px;
$title_middleSize:17px;
$title_middleSize-2:33px;
$title_middleSize-7:30px;
$title_middleSize-3:28px;
$title_middleSize-4:23px;
$title_middleSize-5:24px;
$title-middleSize-5:20px;
$title-middleSize-22:22px;
$font-size-12:12px;
$font-size-15:15px;
$font-weight-5:800;
$font-weight-4:400;
$font-weight-3:500;
$font-weight:600;
$font-weight2:700;
$word_nav:15px;
$font-style:normal;
$font-size-39:39px;
$font-size-36:36px;
$font-size-53:53px;
$font-size-59:59px;
$border-nav:1px solid #e2e2e2;
$border-footer:1px solid #d7dfed;

$font-family-bold:'auto';


$font-family-open-sans:'open sans';
$font-family-Roboto:'Roboto';
$font-family-Roboto:'Roboto Slab';
$font-family-open-sans-pro:"Source Sans Pro";
$font-family-Poppins:"Poppins";
$global-color-primary: #6ec1e4;
$global-color-secondary: #54595f;
$global-color-text: #7a7a7a;
$global-color-accent: #61ce70;
$global-color-4ec02a27: #4054b2;
$global-color-2d3d7d41: #23a455;
$global-color-1de80f6c: #000;
$global-color-5ba6a4fd: #fff;
$global-typography-primary-font-family: "Roboto";
$global-typography-primary-font-weight: 600;
$global-typography-secondary-font-family: "Roboto Slab";
$global-typography-secondary-font-weight: 400;
$global-typography-text-font-family: "Roboto";
$global-typography-text-font-weight: 400;
$global-typography-accent-font-family: "Roboto";
$global-typography-accent-font-weight: 500;