@import "../../Sass/Vars";

.pagination-button{
  max-width: 750px;
  margin: -24px auto 25px;
  background: $color_red;
  display: flex;
  transition: .3s ease-in-out;
  //justify-content: space-between;
  button{
    width: 140px;
    height: 96px!important;
    background: rgba(255,255,255,.1);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease-in-out;

    &:hover{
      opacity: .7;
    }
  }
}