

.section-coverImages{
  .row{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    @media (max-width: 992px){
      gap: 13px;
    }
    img:nth-of-type(1){
      width: 32%;
    }
    img:nth-of-type(2){
      width: 32%;
    }
    img:nth-of-type(3){
      width: 32%;
    }
    img:nth-of-type(4){
      width: 100%;
    }
    @media (max-width: 992px) {
      img:nth-of-type(1){
        width: 48%;
      }
      img:nth-of-type(2){
        width: 48%;
      }
      img:nth-of-type(3){
        width: 48%;
      }
      img:nth-of-type(4){
        width: 48%;
      }
    }
  }

}
.section-coverImages{
.section-classic-img{
  .row{
    gap: 23px;
    @media (max-width: 576px) {
      gap: 13px;
    }
  }
}
}
.section-coverImages{
  .section-coverImagesClassic{
    //margin: 0 30px;
    img:nth-of-type(1){
      width: 100%!important;
      @media (max-width: 992px){
      }

    }
    img:nth-of-type(4){
      width: 32%!important;
      @media (max-width: 992px){
        width: 100%!important;
      }

    }
  }

}

.section-rs-classic{
  .SectionPostInformationClassicRs{
    .SectionPostInformationClassic{
     .row{
       gap: 34px 16px;
       @media (max-width: 576px) {
         gap: 12px;
       }
     }
    }
  }
}



//cover
.section-coverImages{
.section-coverImages-RS{

  .row{
    gap: 17px;
    @media(min-width: 577px)and(max-width:991px) {
      gap: 11px!important;
    }
    @media(max-width:576px) {
      gap: 14px!important;
    }
    img:nth-of-type(1){
      width: 100%;
    }
    img:nth-of-type(2){
      width: 32%;
      @media(max-width:576px) {
        width: 48%;
      }
    }
    img:nth-of-type(3){
      width: 32%;
      @media(max-width:576px) {
        width: 48%;
      }
    }
    img:nth-of-type(4){
      width: 32%;
      @media(max-width:576px) {
        width: 100%;
      }
    }
  }

}
}

