
.content-text-info{

  p{
    line-height: 29px;
    //margin: 20px 250px 30px;
    max-width: 700px;
    margin: 50px auto 25px;
    @media (max-width: 768px) {
      margin: 20px 10px;
    }
  }
  .child-text-info{
    p {
      margin: 25px auto 25px;
    }
  }
}