
@import "../Sass/Vars";



.color-red{
  color: $color_red!important;
}
.color-white{
  background-color: $background-white!important;
}
.color-white-2{
  color: $background-white!important;
}
.background-yellow{
  background-color: $color-ffce2d;
}
.color-green{
  background-color: $color-99b154;
}