


@import "../../Sass/Vars";

  .up{
    z-index: 10000;
    position: fixed;
    background-color: #ff4f69;
    top: 590px;
    right: 14px;
    text-align: center;
    padding: 21px;
    color: white;
    width: 24px;
    cursor: pointer;
    scroll-behavior: smooth;
    &:hover{
      background-color: $color-ff7760;
    }
    @media (max-width: 576px) {
      top: 592px;
    }
    @media (min-width: 578px )and(max-width: 991px) {
      top: 1111px;
    }
}